* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

body {
  background-color: var(--light-green);
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --light-green: #376e6f;
  --dark-green: #1c3334;
  --white: #ffffff;
}
